body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.category {
  background-color: black !important;
  color: white !important;
}
@media only screen and (max-height:1000px) {
  .hasil {
    height: 550px !important;
  }
}
.hasil {
  height: 600px !important;
}
.overflow-auto::-webkit-scrollbar {
  display: none;
}
